*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

  body {
    background-image: linear-gradient(to bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);;
    background-size: auto 100vh;
    font-family: 'Nova Mono', monospace;
    font-size: 10px;
    color:white ;
  }
  
     header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: 400px) {
  body {
    font-size: 15px;
  }
  }
  @media (min-size:600px){
    body{
      font-size: 20px;
    }
  }
  
  .menu{ 
    background-color: #0a0b3b;
    position: fixed;
    width: 100vw;
    top: 0;
  }

  .portfolio a{
    text-decoration: none;
    color: white;
  }
  
  .portfolio a:active,
  .portfolio a:hover {
    text-decoration: underline;
    color:red 
  }
  
  .menu a{
    text-decoration: none;
    color:white;
    transition: background-color, color 1s;
  }
  
  
  .menu a:hover {
    text-decoration: underline;
    color:#0a0b3b;
    background-color: white;

  }
  
  .menu a{
    display: block;
  padding: 10px 20px;
  }
  
  .menu ul{
    display: flex;
    justify-content: space-around;
  }
  
  .menu li{
    list-style: none;
  }
  
  .site-subtitle,
  .site-title{
    justify-content: center;
    text-align: center;
    color:white
  }
  
  .site-title{
    font-family: 'Indie Flower', cursive;
    font-size:4em;
  }
  
  .img-portfolio {
    height: 180px;
    width: 240px;
    object-fit: cover;
    border-radius: 25px;
    transform: scale(1);
    transition: transform 500ms;
  }

  .img-portfolio:hover {
    transform: scale(1,2)
  }
  
  .contato a,
  .grid {
    display: grid;
    gap:2em;
    justify-content: space-around;
    
  }
  
  @media (min-width: 560px ){
    .grid{
      grid-template-columns: 240px 240px;
    }
  }
  
  @media (min-width: 880px ){
    .grid{
      grid-template-columns: 240px 240px 240px;
      align-content: center;
      justify-content: center;
      height: calc(100vh - 6em - 31px);
    }
  }
  
  
  .portfolio{
    padding: 3em;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }
  
  .portfolio figure{
    text-align: center;
  }

  .contato h2,
  .portfolio h2{
    font-size: 2em;
  }
  
  .contato a{
    text-decoration: none;
    color: white;
  }
  
  .contato a:active,
  .contato a:hover {
    color: red;
  }
  .contato a{
    font-size: 5em;
    color:black;
  }

  .contato a,
  .conta{
    background-color:white;
    background-size: 25vw;
    color: black;
    height: 25vw;
  }
